<div class="card {{cardClasses}}" data-array-index = "{{arrayIndex}}" data-player = "{{player}}">
    <div class="card-content {{cardContentClasses}}">
        <!--Card Title-->
        <div class="card-title-holder">
            <span class="card-title">{{title}}</span>
        </div>
        <!--Card Image-->
        <div class="card-image">
            <img src="{{image}}">
        </div>
        <!--Card Description-->
        <div class="card-description-holder">
            <div class="card-description">
                <span class="description">{{description}}</span>
            </div>
        </div>
            <!--Energy Cost Container-->
        <div class="card-energy-cost-container">
            <span class="card-energy-cost">{{cost}}</span>
        </div>

    </div>
</div>