<div class="entry", data-name="{{name}}">
    <div class="entry-image-container">
        <img src="{{photoURL}}">
    </div>

    <div class="entry-info-container">
        <span class="entry-rate">Pick Rate: {{numPicks}} </span>
        <span class="entry-rate">Win Rate: {{numWins}} </span>
        <div class="entry-hover-text">{{name}}</div>
    </div>
</div>